table, th, td {
  border:1px solid dimgrey;
  border-collapse: collapse;
  text-align: center;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  font-family: 'Roboto', sans-serif;
}

.title {
  background-color: dimgrey;
  color: white;
}

h2 {
  text-align: center;
}

.h2-mod {
  background-color: #e6e600;
  color: white;
}

tr {
  background-color: #e6e6e6;
}

/*
.backgroudAdd {
  text-align: center;
  background-color: #558000;
  color: white;
}
*/

.control{
  background-color: #e6e6e6;
}

.textBox{
  width: 300;
}



.addButton {
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: #558000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.rmButton {
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: #e60000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.mdButton {
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: #e6e600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.mdSpace{
  width: 50%;
}

.pagButton {
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: #005ce6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.indice {
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: #0099cc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.addButton:hover {
  background-color: #77b300;
}

.rmButton:hover {
  background-color: #ff1a1a;
}

.mdButton:hover {
  background-color: #ffff1a;
}

.pagButton:hover {
  background-color: #1a75ff;
}

.spin:focus{
  animation: spin 500ms ease-out 150ms;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Style For modal*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #558000;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/*--------------------------------------------*/

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color:  #ffff1a;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* author @josh-delaCruz */

